
.blue{
    background-color: lightskyblue;
}

.grey {
    background-color: gray;
}

.cyan{
    background-color: turquoise;
}

.red{
    background-color: lightcoral;
}

.yellow{
    background-color: orange;
}

.green{
    background-color: green;
}

.brown{
    background-color: rgb(177, 94, 0);
}